@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700);

body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
}

.page-header {
  display: flex;
  flex-direction: column;
  background-color: #0081C7;
  color: white;
  text-align: center;
  padding: 25px;
}

.picture-frame {
  display: flex;
  justify-content: center;
}

img {
  max-width: 100%;
  max-height: 50vh;
  align-self: center;
}

.body-text {
  display: flex;
  flex-direction: column;
  margin: 2em;
}

.button {
  padding: 0.5em 1em;
  border-radius: .5em;
  background-color: #0081C7;
  display: inline-block;
  font-size: 1.2em;
}

.button:hover {
  background-color: #9BC23B;
}

.button a {
  color: white;
  text-decoration: none;
}

@media (max-width: 1000px) {
  .picture-frame {
    flex-direction: column;
  }

  .picture-frame .picture-adjacent {
    margin: 0 2em;
  }
}

@media (min-width: 1000px) {
  .picture-frame {
    flex-direction: row;
    margin: 2em;
  }

  .picture-frame .picture-adjacent {
    margin: 2em;
  }
}

.media {
  font-style: italic;
  text-align: left;
  white-space: nowrap;
}

li {
  display: inline;
}

.social-media a {
  text-decoration: none;
}

.fb-icon {
  color: blue;
  transition color 0.2s;
  font-size: 3em;
  padding: 5px, 10px, 0, 10px;
}

.fb-icon:hover {
  color: #aaaaaa;
}

.inst-icon {
  color: red;
  font-size: 3em;
  padding: 0, 10px;
  transition color 0.2s;
  padding: 5px, 10px, 0, 10px;
}

.inst-icon:hover {
  color: #aaaaaa;
}
